{% extends "index.html" %}

{% block head %}
    {{ super() }}
    {% block title %}<title>Inicio </title>{% endblock %}
{% endblock %}

{% block content %}
<br>
<div class="alert alert-danger" role="alert">
    <h1 class="alert-heading">Error 403: Acceso denegado</h1>
    <p>No tienes permiso para acceder a esta página.</p>
    <hr>
    <a href="/inicio" class="btn btn-primary">Volver al inicio</a>
  </div>
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}

{% block scripts %}
<script type="module" src="{{ url_for('static', filename='js/inicio.js')}}"></script>
{% endblock %}
