<!doctype html>
<html lang="es">
  <head>
    {% block head %}
    <meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome.min.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/brands.min.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/solid.min.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
      <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css')}}"> -->
      <!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/dataTables.bootstrap4.min.css')}}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css')}}">
  
      <script src="{{ url_for('static', filename='js/jquery-3.5.1.js')}}"></script>
      <script src="{{ url_for('static', filename='js/jquery-ui.js')}}"></script>
      <script src="{{ url_for('static', filename='js/idioma.js') }}"></script>
      <script src="{{ url_for('static', filename='js/popper.min.js.map') }}"></script>
  
      <script src="{{ url_for('static', filename='js/bootstrap.min.js.map') }}"></script>
  
      <script src="{{ url_for('static', filename='js/loader.js') }}"></script>
      <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/dataTables.bootstrap4.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/dataTables.responsive.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/responsive.bootstrap4.min.js') }}"></script>
    {% block title %}<title>DISAGRO </title>{% endblock %}
    {% endblock %}
  </head>
  <body>
    <header>
      {% block header %}{% endblock %}
    </header>
    <main>
      <div id="content" class="container-fluid">
        {% block content %} {% endblock %}
      </div>
      <div id="cargando" class="container text-center d-none">
        <br><br><br>
        <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </main>
  </body>
  <footer id="pie_de_pagina" class="footer"></footer>
</html>
