#tabla_detalle_pedido{
  font-size: 13px !important;
}

#tabla_lineas_de_pago{
  font-size: 13px !important;
}

#qrcode img {
  display: inline !important;
}

#qrcode{
  text-align: center !important;
}
