.buttons-html5{
  padding: 0.25rem 0.5rem !important;
  font-size: .875rem !important;
  line-height: 1.5 !important;
  border-radius: 0.2rem !important;
  background: white !important;
  color: #343a40 !important;
  border-color: #343a40 !important;
  border: 1px solid !important;
}


.buttons-print{
  padding: 0.25rem 0.5rem !important;
  font-size: .875rem !important;
  line-height: 1.5 !important;
  border-radius: 0.2rem !important;
  background: white !important;
  color: #343a40 !important;
  border-color: #343a40 !important;
  border: 1px solid !important;
}

.input_cantidad_despachar{
  width: 30% !important;
}

.error{
  border-color: red !important;
}

#detalle_despacho{
  width: 600px !important;
}