{% extends "index.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css')}}">
{% endblock %}

{% block content %}

<br>
<div class="container-fluid">
  <a id="enlace_buscador_factura" href="/admin/maestros" type="button" class="btn btn-outline-dark btn-sm">
    <i class="fas fa-arrow-left"></i> 
  </a>
</div>
<br>
<div class="container">
    <div class="row">
      <div class="col-md-12">
        <span> Actualizado: {{ultima_subida.ULTIMA_SUBIDA.strftime('%d-%m-%Y %H:%M:%S')}}</span>
        <br>
        <br>
        <a id="boton_subir" class="btn btn-light btn-sm" href="/estado/excel" role="button" download>
          Descargar <i class="fa fa-download" aria-hidden="true"></i>
        </a>
        <br>
        <br>
        <div id="contenedor" class="d-none">
          <table class="table table-striped table-bordered dt-responsive nowrap" id="grid_estados">
            <thead>
              <tr>
                <th scope="col">ESTADO</th>
                <th scope="col">DESCRIPCION</th>
              </tr>
            </thead>
            <tbody>
              {% for estado in estados %}
                <tr>
                  <td class="centrado_vertical">{{ estado.ESTADO }}</td>
                  <td class="centrado_vertical">{{ estado.DESCRIPCION }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
<script src="{{ url_for('static', filename='js/common.js')}}"></script>
<script>

  $( function(){

    idioma["emptyTable"] = "No hay resultados.";
    $("#cargando").removeClass('d-none');
    grid_de_venta = $('#grid_estados').DataTable({
      "paging": true,
      "responsive": true,
      "language": idioma,
      "searching": true,
      "drawCallback": function( settings ){
        $("#contenedor").removeClass('d-none');
        $("#cargando").addClass('d-none');
      },
      'select': 'multi',
      'order': [[1, 'asc']]
    });    
  });

</script>
<!-- <script type="module" src="{{ url_for('static', filename='js/facturas.js')}}"></script> -->
{% endblock %}
